[submodule "jdk"]
	path = jdk
	url = https://aur.archlinux.org/jdk.git
	branch = master
[submodule "phpstorm"]
	path = phpstorm
	url = https://aur.archlinux.org/phpstorm.git
	branch = master
[submodule "phpstorm-jre"]
	path = phpstorm-jre
	url = https://aur.archlinux.org/phpstorm.git
	branch = master
[submodule "jre"]
	path = jre
	url = https://aur.archlinux.org/jre.git
	branch = master
[submodule "goland-eap"]
	path = goland-eap
	url = https://aur.archlinux.org/goland-eap.git
	branch = master
[submodule "goland-eap-jre"]
	path = goland-eap-jre
	url = https://aur.archlinux.org/goland-eap.git
	branch = master
[submodule "pgmodeler"]
	path = pgmodeler
	url = https://aur.archlinux.org/pgmodeler.git
	branch = master
[submodule "keybase-bin"]
	path = keybase-bin
	url = https://aur.archlinux.org/keybase-bin.git
	branch = master
[submodule "kubectl-bin"]
	path = kubectl-bin
	url = https://aur.archlinux.org/kubectl-bin.git
	branch = master
[submodule "telegram-desktop-bin"]
	path = telegram-desktop-bin
	url = https://aur.archlinux.org/telegram-desktop-bin.git
	branch = master
[submodule "genymotion"]
	path = genymotion
	url = https://aur.archlinux.org/genymotion.git
	branch = master
[submodule "tor-browser"]
	path = tor-browser
	url = https://aur.archlinux.org/tor-browser.git
	branch = master
[submodule "visual-studio-code"]
	path = visual-studio-code
	url = https://aur.archlinux.org/visual-studio-code.git
	branch = master
[submodule "android-emulator"]
	path = android-emulator
	url = https://aur.archlinux.org/android-emulator.git
	branch = master
[submodule "cow-proxy-git"]
	path = cow-proxy-git
	url = https://aur.archlinux.org/cow-proxy-git.git
	branch = master
[submodule "virtualbox-ext-oracle"]
	path = virtualbox-ext-oracle
	url = https://aur.archlinux.org/virtualbox-ext-oracle.git
	branch = master
[submodule "slack-desktop"]
	path = slack-desktop
	url = https://aur.archlinux.org/slack-desktop.git
	branch = master
[submodule "dropbox"]
	path = dropbox
	url = https://aur.archlinux.org/dropbox.git
	branch = master
[submodule "android-sdk"]
	path = android-sdk
	url = https://aur.archlinux.org/android-sdk.git
	branch = master
[submodule "android-sdk-platform-tools"]
	path = android-sdk-platform-tools
	url = https://aur.archlinux.org/android-sdk-platform-tools.git
	branch = master
[submodule "android-studio"]
	path = android-studio
	url = https://aur.archlinux.org/android-studio.git
	branch = master
[submodule "selenium-server-standalone"]
	path = selenium-server-standalone
	url = https://aur.archlinux.org/selenium-server-standalone.git
	branch = master
[submodule "teamviewer"]
	path = teamviewer
	url = https://aur.archlinux.org/teamviewer.git
	branch = master
