[submodule "jdk"]
	path = jdk
	url = https://aur.archlinux.org/jdk.git
	branch = master
[submodule "phpstorm"]
	path = phpstorm
	url = https://aur.archlinux.org/phpstorm.git
	branch = master
[submodule "phpstorm-jre"]
	path = phpstorm-jre
	url = https://aur.archlinux.org/phpstorm.git
	branch = master
[submodule "jre"]
	path = jre
	url = https://aur.archlinux.org/jre.git
	branch = master
[submodule "goland-eap"]
	path = goland-eap
	url = https://aur.archlinux.org/goland-eap.git
	branch = master
[submodule "goland-eap-jre"]
	path = goland-eap-jre
	url = https://aur.archlinux.org/goland-eap.git
	branch = master
[submodule "pgmodeler"]
	path = pgmodeler
	url = https://aur.archlinux.org/pgmodeler.git
	branch = master
[submodule "keybase-bin"]
	path = keybase-bin
	url = https://aur.archlinux.org/keybase-bin.git
	branch = master
[submodule "kubectl-bin"]
	path = kubectl-bin
	url = https://aur.archlinux.org/kubectl-bin.git
	branch = master
[submodule "telegram-desktop-bin"]
	path = telegram-desktop-bin
	url = https://aur.archlinux.org/telegram-desktop-bin.git
	branch = master
[submodule "genymotion"]
	path = genymotion
	url = https://aur.archlinux.org/genymotion.git
	branch = master
[submodule "tor-browser"]
	path = tor-browser
	url = https://aur.archlinux.org/tor-browser.git
	branch = master
[submodule "visual-studio-code"]
	path = visual-studio-code
	url = https://aur.archlinux.org/visual-studio-code.git
	branch = master
[submodule "android-emulator"]
	path = android-emulator
	url = https://aur.archlinux.org/android-emulator.git
	branch = master
